<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="secundary" (click)="startAppNavController()" [hidden]="!showSkip">Saltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/36d46285c8bc86c5f0d9238275887f88.png" />
        <h2>Bienvenid@s</h2>
        <p>Esta es una aplicacion que facilitara la administracion de los alumnos de la clase de programacion  </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/slide1.png" />
      <h2>Home</h2>
      <p>El contiene la mision y la vision de la institucion</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/slide2.png" />
      <h2>Alumnos</h2>
      <p>Permite administrar la informacion de alumno</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/slide3.png" />
      <h2>Info</h2>
      <p>Contiene la informacin de la aplicacion</p>
      <ion-button fill="clear" (click)="startAppNavController()">continuar<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>

<style>
  ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }
</style>