<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-label>
        Lista de alumnos
      </ion-label>
    </ion-title>
    <ion-item>
      Agregar alumno

      <ion-button fill="clear"  slot="start">
        <ion-icon size="large" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">

  </div>
  <ion-list>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>
          <h3>Nombre: </h3>
        </b>
        Nombre apellido
      </ion-label>
      <ion-button color="success">
        <ion-icon slot="end" name="search"></ion-icon>
        Ver
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>