<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Escuela ejemplificada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <center>
    <img width="55%" src="../../assets/img/36d46285c8bc86c5f0d9238275887f88.png" />
  </center>
  <div class="ion-padding" align="center">
    <h4>Misión</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel recusandae eligendi veritatis esse nihil aliquam
      nobis, architecto vero delectus natus sapiente dolorem voluptas, maiores, sed enim. Quasi quibusdam in maxime.</p>
    <h4>visión</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto exercitationem commodi vero iste magnam
      illum quibusdam cupiditate voluptates nemo culpa corporis, est maiores possimus molestias similique quia voluptate
      atque cum.</p>
  </div>
</ion-content>