<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion de la aplicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">
    <ion-list *ngFor='let autor of (autores|async)'>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/img/{{autor.Carnet}}.jpg" />
        </ion-avatar>
        <ion-label>
          <b>
            Autor:
          </b>
          {{autor.Nombre}}

          <br />
          <p>
            <b>
              Carnet:
            </b>
            {{autor.Carnet}}

          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <br />
    <br />
    <b>
      <ion-label>Descripción:</ion-label>
    </b>
    <br />
    <br />
    <p>
      Versión v1.0.0<br />
      Politicas de uso:<br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, assumenda. Vel dolor exercitationem rem!
      Consequatur, quo. Corporis, quia nemo. Illo repellendus perferendis fugiat consectetur molestias eaque fuga
      veniam dignissimos quam.
    </p>
  </div>
</ion-content>
