<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Información de alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="alumno">

    <ion-card-content>
      <form [formGroup]="formUpdate" (ngSubmit)="UpdateAlumno()">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" formControlName="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellidos</ion-label>
          <ion-input type="text" formControlName="Apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Carnet</ion-label>
          <ion-input type="text" formControlName="Carnet"></ion-input>
        </ion-item>
        <ion-input type="number" formControlName="IdAlumno" hidden="true" readonly="true"></ion-input>

        <ion-button expand="block" type="submit" [disabled]="!formUpdate.valid" size="small" color="success">
          <ion-icon slot="end" name="create"></ion-icon>
          Editar
        </ion-button>
      </form>
      <ion-button (click)="DeleteAlumno()" expand="block" size="small" color="danger">
        <ion-icon slot="end"  name="trash"></ion-icon>
        Eliminar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>